AI-Topic-Ranker.json
{
  "name": "02 - AI Topic Ranker copy",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "10 8 * * *"
            }
          ]
        }
      },
      "id": "70370107-12a9-4fbb-95c9-8e66cc036d16",
      "name": "Every Day 8:10AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source, title, url, description FROM topics WHERE used = false AND score = 0 ORDER BY created_at DESC LIMIT 50;",
        "options": {}
      },
      "id": "e5e1c418-4870-4e20-a0e9-d15626f205b0",
      "name": "Fetch Unscored Topics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "your id",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build numbered topic list for AI\nconst topics = items.map((item, i) => `${i + 1}. ${item.json.title}`);\nconst topicList = topics.join('\\n');\nconst rawTopics = items.map(i => i.json);\n\nreturn [{\n  json: {\n    topicList,\n    rawTopics,\n    count: topics.length\n  }\n}];"
      },
      "id": "cb8ca374-6598-4dbe-91d2-e0a3163c1e9d",
      "name": "Format for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get raw topics from Format for AI node\nconst rawTopics = $('Format for AI').first().json.rawTopics;\n\n// In n8n 2.25.7, OpenAI node returns data under 'output' key, already parsed\nconst aiItem = items[0].json;\nlet scores = [];\n\nif (aiItem.output && Array.isArray(aiItem.output)) {\n  // Already parsed array - use directly\n  scores = aiItem.output;\n} else if (aiItem.message?.content) {\n  scores = JSON.parse(aiItem.message.content.replace(/```json|```/g, '').trim());\n} else if (aiItem.choices?.[0]?.message?.content) {\n  scores = JSON.parse(aiItem.choices[0].message.content.replace(/```json|```/g, '').trim());\n} else {\n  throw new Error('Cannot find scores in: ' + JSON.stringify(Object.keys(aiItem)));\n}\n\n// Attach scores to topics and sort descending\nconst scored = scores\n  .filter(s => s.index >= 1 && s.index <= rawTopics.length)\n  .map(s => ({\n    json: {\n      ...rawTopics[s.index - 1],\n      score: s.score\n    }\n  }))\n  .sort((a, b) => b.json.score - a.json.score);\n\nconsole.log('Top topic:', scored[0]?.json?.title, 'Score:', scored[0]?.json?.score);\nreturn scored;"
      },
      "id": "6dd309d6-0c87-4c08-9f76-f203a8066b79",
      "name": "Parse Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE topics SET score = {{ $json.score }} WHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "37381115-c1ad-4524-87a2-f4bc8a1b29c6",
      "name": "Update Scores in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "your id",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, url, description, score FROM topics WHERE used = false ORDER BY score DESC LIMIT 1;",
        "options": {}
      },
      "id": "d332c1e9-edf7-4c00-bd07-f32e924615ae",
      "name": "Get Winning Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1440,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "your id",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE topics SET selected = true WHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "224bfb0d-183f-4ae2-b092-37818d012a85",
      "name": "Mark as Selected",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "your id",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📊 *Topic Selected*\n\n🏆 *{{ $('Get Winning Topic').first().json.title }}*\nScore: {{ $('Get Winning Topic').first().json.score }}/10\n\nContent Generator starts at 8:15 AM.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "32075cc3-1f2f-4f2f-92bc-8d37a88159ff",
      "name": "Notify Winner",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        0
      ],
      "webhookId": "b10c74c5-5f15-448a-8cb0-06b22857071e",
      "credentials": {
        "telegramApi": {
          "id": "your id",
          "name": "DEMO"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Score each of these topics from 1-10 for LinkedIn post potential.\n\nTopics:\n1. [topic title]\n2. [topic title]\n.... [topic title]\n{{ $json.topicList }}\nScoring criteria:\n- Is it trending in AI/automation right now?\n- Will n8n developers and builders care?\n- Can it teach something practical?\n- Will it spark discussion or debate?\n- Relevance to automation, LLMs, or workflow tools?\n\nReturn ONLY a JSON array:\n[{\"index\": 1, \"score\": 8}, {\"index\": 2, \"score\": 5}]",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        0
      ],
      "id": "4c4f5519-ba90-491f-a337-85079e9bb2ba",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        576,
        208
      ],
      "id": "your id",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "your id",
          "name": "Gemini API Key 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        832,
        368
      ],
      "id": "e2cdf308-c0f6-4bc9-8444-f435007103d6",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\"index\": 1, \"score\": 8},\n  {\"index\": 2, \"score\": 5}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        976,
        576
      ],
      "id": "abef0666-920e-4d9e-b52c-df1a16d64465",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        720,
        576
      ],
      "id": "your id",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "lkyour id",
          "name": "Gemini API Key 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day 8:10AM": {
      "main": [
        [
          {
            "node": "Fetch Unscored Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unscored Topics": {
      "main": [
        [
          {
            "node": "Format for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scores": {
      "main": [
        [
          {
            "node": "Update Scores in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scores in DB": {
      "main": [
        [
          {
            "node": "Get Winning Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Winning Topic": {
      "main": [
        [
          {
            "node": "Mark as Selected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Selected": {
      "main": [
        [
          {
            "node": "Notify Winner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f41f3a9f-1cdf-407a-9420-4e26e98c2c57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6your id"
  },
  "nodeGroups": [],
  "id": "rasxnTr9lC8cwTCg",
  "tags": [
    {
      "updatedAt": "2026-06-26T11:50:40.328Z",
      "createdAt": "2026-06-26T11:50:40.328Z",
      "id": "j8Wn6mr12e6xKsAe",
      "name": "linkedin-ai-engine"
    }
  ]
}